python=3.7.9

pandas=1.1.1
numpy=1.19.1

geopandas=0.8.1
geojson=2.5.0
shapely=1.7.1

seaborn=0.11.0
matplotlib=3.3.1

folium=0.11.0
plotly=4.12.0
branca=0.3.1

scikit-learn=0.23.2
umap-learn=0.4.6
lightgbm=2.3.0

streamlit=0.69.2