body {
    margin: 10;
    font-weight: 300;
    line-height: 135%;
}
/* HIGHLIGHTING BOXES */
.highlight_text {
  background-color: #f6c9c8;
  border-radius: 0.5rem;
  color: black;
  padding: 0.2rem;
}
.highlight_title {
  background-color: #350B82;
  border-radius: 0.75rem;
  padding: 1rem;

}
/* TEXT FORMATTING */
.title {
  font-width: 105%;
  font-size: 64px;
  color: #f63366;
  margin-top: 5rem;
}
.subtitle {
  font-width: 90%;
  font-size: 16px;
  color: #f63366;
}
.cuerpo {
  font-width: 75%;
  font-size: 12px;
  color: black;
  font-weight: 250;
  text-align: right;
  line-height: 125%;
}
.bold {
  font-weight: 800;
}
/*BUTTONS AND SLIDERS FORMATTING */
.stButton>button {
    font-weight: 900;
    font-size: 20px;
    color: #F2ADB4;
    border-radius: 50%;
    height: 3em;
    width: 3em;
}
/*EXPANDER COLORS*/
.st-by {
    color: #f63366;
    text-align: right;
}
.stImage> {
    margin-right: 70px;
    margin-left: 70px;
}

/* LEGEND FOR COLUMN1 */
.legend {
    background-image: linear-gradient(90deg, hsla(261, 84%, 28%, 1) 0%,
                                             hsla(344, 76%, 75%, 1) 50%,
                                             hsla(39, 68%, 88%, 1) 99%,
                                             hsla(37, 84%, 69%, 1) 100%);
}